@CHARSET "UTF-8";

.templates_pic {
	width: 150px;
}

.templates_pic_empty {
	display: block;
	border: 1px solid silver;
	border-radius: 4px;
	width: 150px;
	height: 130px;
	overflow: hidden;
	margin-bottom: 10px;
}

.style_field1 {
	float: left;
	width: 100px;
}

.style_field2 {
	width: 500px;
}

.template_title {
	font-weight: bold;
	text-align: center;
	padding-bottom: 5px;
	display: block;
}