h1, h2, h3, h4, h5, h6 {
	font-weight: initial
}

img[style*="left"] {
	margin: 0 10px 10px 0
}

img[style*="right"] {
	margin: 0 0 10px 10px
}

.parallax_filter {
	width: 100%;
	padding: 10px;
	background-color: rgba(79, 79, 79, .5)
}

.parallax_image {
	position: relative;
	width: auto;
	background-repeat: no-repeat;
	background-position: center
}

.parallax_no_filter {
	padding: 10px
}

.parallax_no_filter_photo {
	padding-bottom: 10px
}

.flex-images {
	display: none
}

body {
	font-family: arial;
	background-color: white
}

body>.grid {
	height: 100%
}

#short_info_box {
	color: gray
}

#test-check:not (:checked )~body {
	background-color: red
}

hr {
	background-color: #DEDEDF;
	height: 1px;
	border: 0
}

a {
	text-decoration: none;
	color: gray
}

.powered_by {
	font-size: 10px;
	padding-top: 10px
}

.powered_by a {
	font-size: 10px;
	color: gray
}

.link_generate_page {
	color: silver;
	margin-left: 10px;
	padding: 3px
}

.smart_content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	color: #464646;
	position: relative;
	font-size: 14px
}

#left_0 {
	min-height: 250px
}

.ui-tooltip, .ui-dialog .ui-dialog-content, .ui-dialog-title {
	font-size: 12px
}

.ui-button, .ui-button-text .ui-button {
	font-size: 12px !important
}

.smart_content_header, .smart_content_footer, .smart_content_footer2 {
	padding: 10px
}

.smart_content_header {
	background-color: #EEE;
	min-height: 20px
}

.smart_content_footer {
	background-color: #EEE
}

.no_date_in_folder {
	text-align: center;
	padding: 10px;
	color: gray;
	font-size: 16px;
	border: 1px dashed silver;
	border-radius: 4px;
	background-color: #EEE
}

.flex-next, .flex-prev {
	line-height: 40px
}

.sm {
	box-sizing: border-box;
	position: relative;
	z-index: 9999;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.sm, .sm ul, .sm li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: normal;
	direction: ltr;
	text-align: left
}

.sm-rtl, .sm-rtl ul, .sm-rtl li {
	direction: rtl;
	text-align: right
}

.sm>li>h1, .sm>li>h2, .sm>li>h3, .sm>li>h4, .sm>li>h5, .sm>li>h6 {
	margin: 0;
	padding: 0
}

.sm ul {
	display: none
}

.sm li, .sm a {
	position: relative
}

.sm a {
	display: block
}

.sm a.disabled {
	cursor: default
}

.sm::after {
	content: "";
	display: block;
	height: 0;
	font: 0px/0 serif;
	clear: both;
	overflow: hidden
}

.sm *, .sm *::before, .sm *::after {
	box-sizing: inherit
}

.sm-default {
	background: #fff
}

.sm-default a, .sm-default a:hover, .sm-default a:focus, .sm-default a:active
	{
	padding: 13px 20px;
	padding-right: 58px;
	color: #555;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande",
		Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 17px;
	text-decoration: none
}

.sm-default a.current {
	background: #555;
	color: #fff
}

.sm-default a.disabled {
	color: #ccc
}

.sm-default a .sub-arrow {
	position: absolute;
	top: 50%;
	margin-top: -17px;
	left: auto;
	right: 4px;
	width: 34px;
	height: 34px;
	overflow: hidden;
	font: bold 14px/34px monospace !important;
	text-align: center;
	text-shadow: none;
	background: rgba(0, 0, 0, .08)
}

.sm-default a .sub-arrow::before {
	content: '+'
}

.sm-default a.highlighted .sub-arrow::before {
	content: '-'
}

.sm-default li {
	border-top: 1px solid rgba(0, 0, 0, .05)
}

.sm-default>li:first-child {
	border-top: 0
}

.sm-default ul {
	background: rgba(179, 179, 179, .1)
}

.sm-default ul a, .sm-default ul a:hover, .sm-default ul a:focus,
	.sm-default ul a:active {
	font-size: 14px;
	border-left: 8px solid transparent
}

.sm-default ul ul a, .sm-default ul ul a:hover, .sm-default ul ul a:focus,
	.sm-default ul ul a:active {
	border-left: 16px solid transparent
}

.sm-default ul ul ul a, .sm-default ul ul ul a:hover, .sm-default ul ul ul a:focus,
	.sm-default ul ul ul a:active {
	border-left: 24px solid transparent
}

.sm-default ul ul ul ul a, .sm-default ul ul ul ul a:hover, .sm-default ul ul ul ul a:focus,
	.sm-default ul ul ul ul a:active {
	border-left: 32px solid transparent
}

.sm-default ul ul ul ul ul a, .sm-default ul ul ul ul ul a:hover,
	.sm-default ul ul ul ul ul a:focus, .sm-default ul ul ul ul ul a:active
	{
	border-left: 40px solid transparent
}

@media ( min-width :768px) {
	.sm-default ul {
		position: absolute;
		width: 12em
	}
	.sm-default li {
		float: left
	}
	.sm-default.sm-rtl li {
		float: right
	}
	.sm-default ul li, .sm-default.sm-rtl ul li, .sm-default.sm-vertical li
		{
		float: none
	}
	.sm-default a {
		white-space: nowrap
	}
	.sm-default ul a, .sm-default.sm-vertical a {
		white-space: normal
	}
	.sm-default .sm-nowrap>li>a, .sm-default .sm-nowrap>li>:not(ul) a {
		white-space: nowrap
	}
	.sm-default {
		background: #fff
	}
	.sm-default a, .sm-default a:hover, .sm-default a:focus, .sm-default a:active,
		.sm-default a.highlighted {
		padding: 11px 20px;
		color: #555
	}
	.sm-default a.current {
		background: #555;
		color: #fff
	}
	.sm-default a.disabled {
		background: #fff;
		color: #ccc
	}
	.sm-default a.has-submenu {
		padding-right: 32px
	}
	.sm-default a .sub-arrow {
		top: 50%;
		margin-top: -8px;
		right: 20px;
		width: 8px;
		height: 16px;
		font: 14px/16px monospace !important;
		background: transparent
	}
	.sm-default a.highlighted .sub-arrow::before {
		content: '+'
	}
	.sm-default>li {
		border-top: 0;
		border-left: 1px solid #eee
	}
	.sm-default>li:first-child {
		border-left: 0
	}
	.sm-default ul {
		border: 1px solid #bbb;
		background: #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .2)
	}
	.sm-default ul a {
		border: 0 !important
	}
	.sm-default ul a.has-submenu {
		padding-right: 20px
	}
	.sm-default ul a .sub-arrow {
		left: 8px;
		right: auto
	}
	.sm-default ul>li {
		border-left: 0;
		border-top: 1px solid #eee
	}
	.sm-default ul>li:first-child {
		border-top: 0
	}
	.sm-default .scroll-up, .sm-default .scroll-down {
		position: absolute;
		display: none;
		visibility: hidden;
		overflow: hidden;
		background: #fff;
		height: 20px
	}
	.sm-default .scroll-up-arrow, .sm-default .scroll-down-arrow {
		position: absolute;
		top: -2px;
		left: 50%;
		margin-left: -8px;
		width: 0;
		height: 0;
		overflow: hidden;
		border-width: 8px;
		border-style: dashed dashed solid dashed;
		border-color: transparent transparent #555 transparent
	}
	.sm-default .scroll-down-arrow {
		top: 6px;
		border-style: solid dashed dashed dashed;
		border-color: #555 transparent transparent transparent
	}
	.sm-default.sm-rtl a.has-submenu {
		padding-right: 20px;
		padding-left: 32px
	}
	.sm-default.sm-rtl a .sub-arrow {
		left: 20px;
		right: auto
	}
	.sm-default.sm-rtl.sm-vertical a.has-submenu {
		padding: 11px 20px
	}
	.sm-default.sm-rtl.sm-vertical a .sub-arrow {
		left: auto;
		right: 8px
	}
	.sm-default.sm-rtl>li:first-child {
		border-left: 1px solid #eee
	}
	.sm-default.sm-rtl>li:last-child {
		border-left: 0
	}
	.sm-default.sm-rtl ul a.has-submenu {
		padding: 11px 20px
	}
	.sm-default.sm-rtl ul a .sub-arrow {
		left: auto;
		right: 8px
	}
	.sm-default.sm-vertical a .sub-arrow {
		left: 8px;
		right: auto
	}
	.sm-default.sm-vertical li {
		border-left: 0;
		border-top: 1px solid #eee
	}
	.sm-default.sm-vertical>li:first-child {
		border-top: 0
	}
}

@media ( min-width :768px) {
	.sm-default ul {
		position: absolute
	}
	.sm-default li {
		float: left
	}
	.sm-default.sm-rtl li {
		float: right
	}
	.sm-default ul li, .sm-default.sm-rtl ul li, .sm-default.sm-vertical li
		{
		float: none
	}
	.sm-default a {
		white-space: nowrap
	}
	.sm-default ul a, .sm-default.sm-vertical a {
		white-space: normal
	}
	.sm-default .sm-nowrap>li>a, .sm-default .sm-nowrap>li>:not(ul) a {
		white-space: nowrap
	}
}

@media screen and (max-width:768px) {
	ul.sm-default {
		width: auto !important
	}
	ul.sm-default ul {
		display: none;
		position: static !important;
		top: auto !important;
		left: auto !important;
		margin-left: 0 !important;
		margin-top: 0 !important;
		width: auto !important;
		min-width: 0 !important;
		max-width: none !important
	}
	ul.sm-default>li {
		float: none
	}
	ul.sm-default>li>a, ul.sm-default ul.sm-nowrap>li>a {
		white-space: normal
	}
	ul.sm-default iframe {
		display: none
	}
}

body {
	background-color: #fbfbfb
}

body.pushable>.pusher {
	background-color: #fbfbfb
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif
}

.top_smart_content {
	padding-top: 12px
}

.segment_field.segment.ui {
	font-size: 13px
}

.smart_content_fix {
	max-width: 1000px
}

.smart_content {
	font-size: 13px;
	line-height: 22.1px;
	color: ##FF9900;
	max-width: 1000px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 19px;
	box-shadow: 5px 5px 6px gray;
	border: 2px solid #d4d4d4
}

.smart_content_container a:link {
	text-decoration: none;
	color: #326464
}

.smart_content_container a:visited {
	text-decoration: none;
	color: #326464
}

.smart_content_container a:hover {
	text-decoration: none;
	color: #F90
}

.smart_content_header {
	background-position: 0 0;
	background-color: #f1f1f1;
	background-image: url(explorer//1511728537.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 299px;
	padding: 10px 27px 10px 27px;
	border-radius: 17px 17px 0 0
}

.smart_content_body {
	background-color: #fff;
	padding-bottom: 43px;
	padding-left: 51px;
	padding-right: 51px
}

.smart_content_footer2 {
	display: none
}

.smart_content_footer {
	background-position: -5px -76px;
	background-color: #f1f1f1;
	background-image: url(explorer/boats564922_1280.jpg);
	border-radius: 0 0 17px 17px
}

.smart_content_element {
	max-width: 100%
}

.textfield_div, .splitter_div {
	margin-bottom: 25px
}

.smart_body {
	padding-top: 27px
}

.sm a, .sm a:hover, .sm a:focus, .sm a:active {
	font-family: 'Montserrat', sans-serif
}

.sm {
	background-color: #7A9171;
	border-bottom: px solid #c6c6c6;
	background-image: -moz-linear-gradient(top, #7A9171 0%, #6e7900 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7A9171),
		color-stop(100%, #6e7900));
	background-image: -webkit-linear-gradient(top, #7A9171 0%, #6e7900 100%);
	background-image: -o-linear-gradient(top, #7A9171 0%, #6e7900 100%);
	background-image: -ms-linear-gradient(top, #7A9171 0%, #6e7900 100%);
	background-image: linear-gradient(top, #7A9171 0%, #6e7900 100%)
}

.sm ul a {
	font-size: 14px;
	background-color: white;
	color: #185500
}

.sm ul a:hover {
	font-size: 14px;
	background-color: #EEE;
	color: #185500
}

.sm ul a:visited {
	font-size: 14px;
	text-decoration: none;
	color: #185500
}

.sm a {
	font-size: 14px;
	text-decoration: none;
	color: #fff
}

.sm a:visited {
	font-size: 14px;
	text-decoration: none;
	color: #fff
}

.sm a:hover {
	font-size: 14px;
	text-decoration: none;
	color: #c5c5c5;
	background-color: #7A9171
}

.sm a.has-submenu {
	color: #fff;
	padding-right: 32px
}

.sm a.current {
	background-color: #eee;
	color: #6e7900
}

.breadcrumb_field {
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px
}

@media only screen and (max-width:600px) {
	.smart_form_button_top {
		display: none
	}
}

.scrolling.undetached.dimmable.dimmed>.dimmer {
	overflow: scroll !important
}

.scrolling.undetached.dimmable.dimmed {
	overflow: hidden !important
}

.ui.disabled.red.button[data-tooltip] {
	pointer-events: auto !important;
	opacity: 1 !important;
	background-color: #E79696
}

@media screen and (max-width:768px) {
	.smart_content_header, .smart_content_footer, .smart_content {
		border-radius: 0;
		box-shadow: none;
		margin-top: 0;
		border: 0 solid transparent
	}
	.menu_field {
		padding: 0
	}
	.smart_content_body {
		padding: 10px
	}
	.top_smart_content {
		padding-top: 0
	}
	.smart_content_header, .smart_content_layer {
		display: none
	}
}

.computer, .tablet {
	display: inline-block
}

@media screen and (max-width:970px) {
	.tablet {
		display: none
	}
	.smart_content_body {
		padding: 0
	}
}

@media screen and (max-width:600px) {
	.computer {
		display: none
	}
}

.main-menu-btn {
	color: grey;
	cursor: pointer;
	display: block;
	height: 70px;
	background-color: #eee;
	font-size: 18px;
	line-height: 70px;
	padding-top: 6px;
	padding-bottom: 2px;
	padding-right: 10px;
	overflow: hidden;
	position: relative;
	text-align: center;
	border-bottom: 1px dashed silver
}

.main-menu-btn-icon, .main-menu-btn-icon:before, .main-menu-btn-icon:after
	{
	position: absolute;
	top: 50%;
	left: 10px;
	height: 2px;
	width: 24px;
	background: #bbb;
	-webkit-transition: all 0.25s;
	transition: all 0.25s
}

.main-menu-btn-icon:before {
	content: '';
	top: -7px;
	left: 0
}

.main-menu-btn-icon:after {
	content: '';
	top: 7px;
	left: 0
}

#main-menu-state:checked ~.main-menu-btn .main-menu-btn-icon {
	height: 0;
	background: transparent
}

#main-menu-state:checked ~.main-menu-btn .main-menu-btn-icon:before {
	top: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

#main-menu-state:checked ~.main-menu-btn .main-menu-btn-icon:after {
	top: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

#main-menu-state {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px)
}

#main-menu-state:not (:checked )~.menu_field {
	display: none
}

#main-menu-state:checked ~.menu_field {
	display: block
}

@media ( min-width :768px) {
	.main-menu-btn {
		position: absolute;
		top: -99999px
	}
	#main-menu-state:not (:checked )~.menu_field {
		display: block
	}
}

#main-menu {
	z-index: 10
}

h1, h2, h3, h4, h5, h6 {
	font-weight: initial
}

img[style*="left"] {
	margin: 0 10px 10px 0
}

img[style*="right"] {
	margin: 0 0 10px 10px
}

.parallax_filter {
	width: 100%;
	padding: 10px;
	background-color: rgba(79, 79, 79, .5)
}

.parallax_image {
	position: relative;
	width: auto;
	background-repeat: no-repeat;
	background-position: center
}

.parallax_no_filter {
	padding: 10px
}

.parallax_no_filter_photo {
	padding-bottom: 10px
}

.flex-images {
	display: none
}

body {
	font-family: arial;
	background-color: white
}

body>.grid {
	height: 100%
}

#short_info_box {
	color: gray
}

#test-check:not (:checked )~body {
	background-color: red
}

hr {
	background-color: #DEDEDF;
	height: 1px;
	border: 0
}

a {
	text-decoration: none;
	color: gray
}

.powered_by {
	font-size: 10px;
	padding-top: 10px
}

.powered_by a {
	font-size: 10px;
	color: gray
}

.link_generate_page {
	color: silver;
	margin-left: 10px;
	padding: 3px
}

.smart_content {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
	color: #464646;
	position: relative;
	font-size: 14px
}

#left_0 {
	min-height: 250px
}

.ui-tooltip, .ui-dialog .ui-dialog-content, .ui-dialog-title {
	font-size: 12px
}

.ui-button, .ui-button-text .ui-button {
	font-size: 12px !important
}

.smart_content_header, .smart_content_footer, .smart_content_footer2 {
	padding: 10px
}

.smart_content_header {
	background-color: #EEE;
	min-height: 20px
}

.smart_content_footer {
	background-color: #EEE
}

.no_date_in_folder {
	text-align: center;
	padding: 10px;
	color: gray;
	font-size: 16px;
	border: 1px dashed silver;
	border-radius: 4px;
	background-color: #EEE
}

.flex-next, .flex-prev {
	line-height: 40px
}

#scrollUp {
	bottom: 20px;
	right: 20px;
	background-color: #555;
	color: #fff;
	font-size: 12px;
	font-family: sans-serif;
	text-decoration: none;
	opacity: .9;
	padding: 10px 20px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-transition: background 200ms linear;
	-moz-transition: background 200ms linear;
	-o-transition: background 200ms linear;
	transition: background 200ms linear;
	-webkit-backface-visibility: hidden
}

#scrollUp:hover {
	background-color: #000
}

.sm {
	box-sizing: border-box;
	position: relative;
	z-index: 9999;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.sm, .sm ul, .sm li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: normal;
	direction: ltr;
	text-align: left
}

.sm-rtl, .sm-rtl ul, .sm-rtl li {
	direction: rtl;
	text-align: right
}

.sm>li>h1, .sm>li>h2, .sm>li>h3, .sm>li>h4, .sm>li>h5, .sm>li>h6 {
	margin: 0;
	padding: 0
}

.sm ul {
	display: none
}

.sm li, .sm a {
	position: relative
}

.sm a {
	display: block
}

.sm a.disabled {
	cursor: default
}

.sm::after {
	content: "";
	display: block;
	height: 0;
	font: 0px/0 serif;
	clear: both;
	overflow: hidden
}

.sm *, .sm *::before, .sm *::after {
	box-sizing: inherit
}

gadgets /breadcrumb/dist/jquery.rcrumbs.css.sm-default {
	background: #fff
}

.sm-default a, .sm-default a:hover, .sm-default a:focus, .sm-default a:active
	{
	padding: 13px 20px;
	padding-right: 58px;
	color: #555;
	font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande",
		Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 17px;
	text-decoration: none
}

.sm-default a.current {
	background: #555;
	color: #fff
}

.sm-default a.disabled {
	color: #ccc
}

.sm-default a .sub-arrow {
	position: absolute;
	top: 50%;
	margin-top: -17px;
	left: auto;
	right: 4px;
	width: 34px;
	height: 34px;
	overflow: hidden;
	font: bold 14px/34px monospace !important;
	text-align: center;
	text-shadow: none;
	background: rgba(0, 0, 0, .08)
}

.sm-default a .sub-arrow::before {
	content: '+'
}

.sm-default a.highlighted .sub-arrow::before {
	content: '-'
}

.sm-default li {
	border-top: 1px solid rgba(0, 0, 0, .05)
}

.sm-default>li:first-child {
	border-top: 0
}

.sm-default ul {
	background: rgba(179, 179, 179, .1)
}

.sm-default ul a, .sm-default ul a:hover, .sm-default ul a:focus,
	.sm-default ul a:active {
	font-size: 14px;
	border-left: 8px solid transparent
}

.sm-default ul ul a, .sm-default ul ul a:hover, .sm-default ul ul a:focus,
	.sm-default ul ul a:active {
	border-left: 16px solid transparent
}

.sm-default ul ul ul a, .sm-default ul ul ul a:hover, .sm-default ul ul ul a:focus,
	.sm-default ul ul ul a:active {
	border-left: 24px solid transparent
}

.sm-default ul ul ul ul a, .sm-default ul ul ul ul a:hover, .sm-default ul ul ul ul a:focus,
	.sm-default ul ul ul ul a:active {
	border-left: 32px solid transparent
}

.sm-default ul ul ul ul ul a, .sm-default ul ul ul ul ul a:hover,
	.sm-default ul ul ul ul ul a:focus, .sm-default ul ul ul ul ul a:active
	{
	border-left: 40px solid transparent
}

@media ( min-width :768px) {
	.sm-default ul {
		position: absolute;
		width: 12em
	}
	.sm-default li {
		float: left
	}
	.sm-default.sm-rtl li {
		float: right
	}
	.sm-default ul li, .sm-default.sm-rtl ul li, .sm-default.sm-vertical li
		{
		float: none
	}
	.sm-default a {
		white-space: nowrap
	}
	.sm-default ul a, .sm-default.sm-vertical a {
		white-space: normal
	}
	.sm-default .sm-nowrap>li>a, .sm-default .sm-nowrap>li>:not(ul) a {
		white-space: nowrap
	}
	.sm-default {
		background: #fff
	}
	.sm-default a, .sm-default a:hover, .sm-default a:focus, .sm-default a:active,
		.sm-default a.highlighted {
		padding: 11px 20px;
		color: #555
	}
	.sm-default a.current {
		background: #555;
		color: #fff
	}
	.sm-default a.disabled {
		background: #fff;
		color: #ccc
	}
	.sm-default a.has-submenu {
		padding-right: 32px
	}
	.sm-default a .sub-arrow {
		top: 50%;
		margin-top: -8px;
		right: 20px;
		width: 8px;
		height: 16px;
		font: 14px/16px monospace !important;
		background: transparent
	}
	.sm-default a.highlighted .sub-arrow::before {
		content: '+'
	}
	.sm-default>li {
		border-top: 0;
		border-left: 1px solid #eee
	}
	.sm-default>li:first-child {
		border-left: 0
	}
	.sm-default ul {
		border: 1px solid #bbb;
		background: #fff;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .2)
	}
	.sm-default ul a {
		border: 0 !important
	}
	.sm-default ul a.has-submenu {
		padding-right: 20px
	}
	.sm-default ul a .sub-arrow {
		left: 8px;
		right: auto
	}
	.sm-default ul>li {
		border-left: 0;
		border-top: 1px solid #eee
	}
	.sm-default ul>li:first-child {
		border-top: 0
	}
	.sm-default .scroll-up, .sm-default .scroll-down {
		position: absolute;
		display: none;
		visibility: hidden;
		overflow: hidden;
		background: #fff;
		height: 20px
	}
	.sm-default .scroll-up-arrow, .sm-default .scroll-down-arrow {
		position: absolute;
		top: -2px;
		left: 50%;
		margin-left: -8px;
		width: 0;
		height: 0;
		overflow: hidden;
		border-width: 8px;
		border-style: dashed dashed solid dashed;
		border-color: transparent transparent #555 transparent
	}
	.sm-default .scroll-down-arrow {
		top: 6px;
		border-style: solid dashed dashed dashed;
		border-color: #555 transparent transparent transparent
	}
	.sm-default.sm-rtl a.has-submenu {
		padding-right: 20px;
		padding-left: 32px
	}
	.sm-default.sm-rtl a .sub-arrow {
		left: 20px;
		right: auto
	}
	.sm-default.sm-rtl.sm-vertical a.has-submenu {
		padding: 11px 20px
	}
	.sm-default.sm-rtl.sm-vertical a .sub-arrow {
		left: auto;
		right: 8px
	}
	.sm-default.sm-rtl>li:first-child {
		border-left: 1px solid #eee
	}
	.sm-default.sm-rtl>li:last-child {
		border-left: 0
	}
	.sm-default.sm-rtl ul a.has-submenu {
		padding: 11px 20px
	}
	.sm-default.sm-rtl ul a .sub-arrow {
		left: auto;
		right: 8px
	}
	.sm-default.sm-vertical a .sub-arrow {
		left: 8px;
		right: auto
	}
	.sm-default.sm-vertical li {
		border-left: 0;
		border-top: 1px solid #eee
	}
	.sm-default.sm-vertical>li:first-child {
		border-top: 0
	}
}

@media ( min-width :768px) {
	.sm-default ul {
		position: absolute
	}
	.sm-default li {
		float: left
	}
	.sm-default.sm-rtl li {
		float: right
	}
	.sm-default ul li, .sm-default.sm-rtl ul li, .sm-default.sm-vertical li
		{
		float: none
	}
	.sm-default a {
		white-space: nowrap
	}
	.sm-default ul a, .sm-default.sm-vertical a {
		white-space: normal
	}
	.sm-default .sm-nowrap>li>a, .sm-default .sm-nowrap>li>:not(ul) a {
		white-space: nowrap
	}
}

@media screen and (max-width:768px) {
	ul.sm-default {
		width: auto !important
	}
	ul.sm-default ul {
		display: none;
		position: static !important;
		top: auto !important;
		left: auto !important;
		margin-left: 0 !important;
		margin-top: 0 !important;
		width: auto !important;
		min-width: 0 !important;
		max-width: none !important
	}
	ul.sm-default>li {
		float: none
	}
	ul.sm-default>li>a, ul.sm-default ul.sm-nowrap>li>a {
		white-space: normal
	}
	ul.sm-default iframe {
		display: none
	}
}

body {
	background-color: #fbfbfb
}

body.pushable>.pusher {
	background-color: #fbfbfb
}

h1, h2, h3, h4 {
	font-family: 'Montserrat', sans-serif
}

.top_smart_content {
	padding-top: 12px
}

.segment_field.segment.ui {
	font-size: 13px
}

.smart_content_fix {
	max-width: 1000px
}

.smart_content {
	font-size: 13px;
	line-height: 22.1px;
	color: ##FF9900;
	max-width: 1000px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 19px;
	box-shadow: 5px 5px 6px gray;
	border: 2px solid #d4d4d4
}

.smart_content_container a:link {
	text-decoration: none;
	color: #326464
}

.smart_content_container a:visited {
	text-decoration: none;
	color: #326464
}

.smart_content_container a:hover {
	text-decoration: none;
	color: #F90
}

.smart_content_header {
	background-position: 0 0;
	background-color: #f1f1f1;
	background-image: url(explorer//1511728537.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 299px;
	padding: 10px 27px 10px 27px;
	border-radius: 17px 17px 0 0
}

.smart_content_body {
	background-color: #fff;
	padding-bottom: 43px;
	padding-left: 51px;
	padding-right: 51px
}

.smart_content_footer2 {
	display: none
}

.smart_content_footer {
	background-position: -5px -76px;
	background-color: #f1f1f1;
	background-image: url(explorer/boats564922_1280.jpg);
	border-radius: 0 0 17px 17px
}

.smart_content_element {
	max-width: 100%
}

.textfield_div, .splitter_div {
	margin-bottom: 25px
}

.smart_body {
	padding-top: 27px
}

.sm a, .sm a:hover, .sm a:focus, .sm a:active {
	font-family: 'Montserrat', sans-serif
}

.sm {
	background-color: #7A9171;
	border-bottom: px solid #c6c6c6;
	background-image: -moz-linear-gradient(top, #7A9171 0%, #6e7900 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7A9171),
		color-stop(100%, #6e7900));
	background-image: -webkit-linear-gradient(top, #7A9171 0%, #6e7900 100%);
	background-image: -o-linear-gradient(top, #7A9171 0%, #6e7900 100%);
	background-image: -ms-linear-gradient(top, #7A9171 0%, #6e7900 100%);
	background-image: linear-gradient(top, #7A9171 0%, #6e7900 100%)
}

.sm ul a {
	font-size: 14px;
	background-color: white;
	color: #185500
}

.sm ul a:hover {
	font-size: 14px;
	background-color: #EEE;
	color: #185500
}

.sm ul a:visited {
	font-size: 14px;
	text-decoration: none;
	color: #185500
}

.sm a {
	font-size: 14px;
	text-decoration: none;
	color: #fff
}

.sm a:visited {
	font-size: 14px;
	text-decoration: none;
	color: #fff
}

.sm a:hover {
	font-size: 14px;
	text-decoration: none;
	color: #c5c5c5;
	background-color: #7A9171
}

.sm a.has-submenu {
	color: #fff;
	padding-right: 32px
}

.sm a.current {
	background-color: #eee;
	color: #6e7900
}

.breadcrumb_field {
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px
}

@media only screen and (max-width:600px) {
	.smart_form_button_top {
		display: none
	}
}

.scrolling.undetached.dimmable.dimmed>.dimmer {
	overflow: scroll !important
}

.scrolling.undetached.dimmable.dimmed {
	overflow: hidden !important
}

.ui.disabled.red.button[data-tooltip] {
	pointer-events: auto !important;
	opacity: 1 !important;
	background-color: #E79696
}

@media screen and (max-width:768px) {
	.smart_content_header, .smart_content_footer, .smart_content {
		border-radius: 0;
		box-shadow: none;
		margin-top: 0;
		border: 0 solid transparent
	}
	.menu_field {
		padding: 0
	}
	.smart_content_body {
		padding: 10px
	}
	.top_smart_content {
		padding-top: 0
	}
	.smart_content_header, .smart_content_layer {
		display: none
	}
}

.computer, .tablet {
	display: inline-block
}

@media screen and (max-width:970px) {
	.tablet {
		display: none
	}
	.smart_content_body {
		padding: 0
	}
}

@media screen and (max-width:600px) {
	.computer {
		display: none
	}
}

.main-menu-btn {
	color: grey;
	cursor: pointer;
	display: block;
	height: 70px;
	background-color: #eee;
	font-size: 18px;
	line-height: 70px;
	padding-top: 6px;
	padding-bottom: 2px;
	padding-right: 10px;
	overflow: hidden;
	position: relative;
	text-align: center;
	border-bottom: 1px dashed silver
}

.main-menu-btn-icon, .main-menu-btn-icon:before, .main-menu-btn-icon:after
	{
	position: absolute;
	top: 50%;
	left: 10px;
	height: 2px;
	width: 24px;
	background: #bbb;
	-webkit-transition: all 0.25s;
	transition: all 0.25s
}

.main-menu-btn-icon:before {
	content: '';
	top: -7px;
	left: 0
}

.main-menu-btn-icon:after {
	content: '';
	top: 7px;
	left: 0
}

#main-menu-state:checked ~.main-menu-btn .main-menu-btn-icon {
	height: 0;
	background: transparent
}

#main-menu-state:checked ~.main-menu-btn .main-menu-btn-icon:before {
	top: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

#main-menu-state:checked ~.main-menu-btn .main-menu-btn-icon:after {
	top: 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg)
}

#main-menu-state {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px)
}

#main-menu-state:not (:checked )~.menu_field {
	display: none
}

#main-menu-state:checked ~.menu_field {
	display: block
}

@media ( min-width :768px) {
	.main-menu-btn {
		position: absolute;
		top: -99999px
	}
	#main-menu-state:not (:checked )~.menu_field {
		display: block
	}
}

#main-menu {
	z-index: 10
}