@CHARSET "UTF-8";

/*NEW Design*/
.center_left {
	background-color: #FAFAFA;
	width: 190px;
	padding-top: 70px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: -20px;
	height: 100%;
	position: fixed;
	border-right: 1px solid #D4D4D5;
}

/* thiner style for better view */ 
.menu_faktura > .item {
	padding: 10px !important;
}

/******************************************************************
 * Startseite
 ******************************************************************/

/*Menu position*/
#resize_button, #resize_button_hide {
	position: fixed;
	left: -14px;
	bottom: 70px;
	z-index: 1000;
}

.right_content {
	padding-left: 180px;
	padding-right: 15px;
}

.center_content {
	padding: 80px 0px 0px 30px;
}

.bottom_left {
	position: fixed;
	bottom: 1px;
	left: 2px;
	font-size: 10px;
}

/*Upload Button*/
#response {
	overflow: auto;
	margin-bottom: 80px;
}

#upload {
	border-bottom: 1px solid silver;
	padding-bottom: 5px;
	margin-bottom: 5px;
	position: relative;
	left: 130px;
}

.pic_field_button_leiste {
	background-color: #EEEEEE;
	padding: 2px;
	height: 14px;
	text-align: left;
}

/*Feld vom Thumbnailbild*/
.pic_field_image {
	padding: 5px;
	height: 80px;
}

.pic_field_image_dir {
	padding: 5px;
	height: 80px;
	background: url(img/dir_big.png) center center no-repeat;
}

.pic_field_image_dir_add {
	padding: 5px;
	height: 80px;
	cursor: pointer;
	background: url(img/dir_big_off.png) center center no-repeat;
}

.pic_field_image_pdf {
	padding: 5px;
	height: 80px;
	background: url(img/pdf_big.png) center center no-repeat;
}

/*Darstellung: Field fuer Thumbnailvorschau*/
.explorer_big_dir, .explorer_big_file, .explorer_big_dir_add,
	.explorer_big_pdf {
	height: 125px;
	margin: 3px;
	padding: 0px;
	font-size: 10px;
	border: 1px solid #EEEEEE;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	background-color: white;
	font-size: 10px;
	float: left;
}

.explorer_big_dir_add {
	border: 1px dashed silver;
}

/*Eingabefeld bei "Neuen Ordner anlegen*/
.input_add_dir {
	font-size: 9px;
	width: 120px;
	border: 1px solid green;
}

.version {
	position: fixed;
	bottom: 10px;
	left: 10px;
	font-size: 10px;
}

.meldung_ok {
	color: green;
}

.meldung_error {
	color: red;
}

.pfad_leiste {
	border-bottom: 1px solid silver;
	border-top: 1px solid silver;
	padding: 2px;
}

.pfad_text {
	position: relative;
	top: 1px;
}

.pfad_button, .pfad_button_aktiv {
	float: left;
	margin-right: 4px;
	padding-left: 2px;
	padding-right: 2px;
	font-size: 12px;
}

a.pfad_button { /*border: 1px solid silver;*/
	
}

.pfad_button_aktiv {
	color: gray;
}

.pfad_button_pfeil {
	float: left;
	padding-right: 2px;
}

.liste, .raster {
	float: right;
	width: 19px;
	height: 16px;
	border: 1px solid silver;
	margin-right: 2px;
}

a.liste {
	background: url(img/liste.png) left center no-repeat;
}

.liste_add_dir_button {
	border: 1px silver dashed;
	width: 200px;
}

a.raster {
	background: url(img/raster.png) left center no-repeat;
}

.hidden {
	display: none;
}

a {
	color: #333333;
	text-decoration: none;
}

/* 
a:hover { background-color: #DEDEDE; } 
*/
.file_name a {
	color: #333333;
}

hr {
	color: gray;
	background-color: silver;
	height: 1px;
	border: 0px;
}

.head_box {
	position: relative;
	z-index: 10;
	background-color: white;
	width: 100%;
}

/* Button fuer Menue links */
.active_page {
	background-color: #FEFEFE;
	position: relative;
	left: 14px;
	padding: 7px 9px 5px 7px;
	width: 151px;
	display: block;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	border-radius: 4px 0px 0px 4px;
	font-weight: bold;
}

.passive_page {
	position: relative;
	left: 10px;
	padding: 7px 9px 5px 7px;
	width: 151px;
	display: block;
	border: 1px solid transparent;
}

.menu_button {
	text-align: right;
	font-size: 12px;
}

/*Button zum starten einer Session*/
.start_stop_button {
	margin-left: 30px;
}

/*Highlight for Tables*/
tr.even:hover {
	background-color: #cccccc;
}

tr.odd:hover {
	background-color: #cccccc;
}

.left_buttonset_select_domain {
	padding-left: 5px;
}

/* Select fuer das waehlen einer Domain */
.select_domains {
	width: 170px;
}

/********************
FORM
*********************/
.style_field1, .style_field2 {
	padding-top: 2px;
	padding-bottom: 2px;
}